/* Estilo general */
body {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    color: rgb(78, 25, 129);
    margin: 0;
    height: 100%;
    padding: 0;
    background-color: rgb(190, 206, 220);
}

/* Contenedor principal */
.contenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Encabezado */
h1 {
    font-size: 40px;
    text-shadow: 0 0 6px white;
}

p::first-letter {
    font-size: 30px;
    margin-right: 1px;
  }

header {
    text-align: center;
}

#Banner {
    width: 100%;
}

a {
    color: white;
}

a:hover {
    color: red;
}

a:visited {
    color: black;
}

.Navegador {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Opciones {
    padding: 10px;
    margin: 0 10px;
    border: 2px solid;
    border-color: rgb(78, 25, 129);
    text-decoration: none;
    font-size: 18px;
    font-family:monospace;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0px 0px 10px;
}

.Opciones:hover {
    background-color: rgb(78, 25, 129);
    cursor: pointer;
}

/* Sección */
section {
    padding: 20px;
}

/* Pie de página */
footer {
    text-align: left;
    padding: 6px;
    margin: 4px;
    color: rgb(190, 206, 220);
    background-color: rgb(78, 25, 129);
}

.pagos {
    width: 20px;
    height: 16px;
}

/* Aca empieza la seccion servicios */

.contenedor-servicios {
    display: grid;
    grid-template-areas: 
      "col1 col2 col3"
      "col1 col2 col3";
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
    gap: 20px;
    max-width: 100%;
    width: 96%;
    margin: 0 auto;
    justify-content: center;
  }

  .opcion {
    display: inline-block;
    border: 2px solid black;
    padding: 10px 20px;
    text-align: center;
    margin: 0 10px;
    align-items: center;
  }

.contenedor-servicios img {
    width: 400px;
    height: 250px;
    margin: 10px;
}

video {
    height: auto;
    margin-bottom: 40px;
    border: 2px solid black;
}

video::webkit-media-controls-play-button {
    display: none;
}

video:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* Aca empieza la seccion Turnos */

.body-Formulario {
    background-image: url(../Imagenes/fondo.jpg);
    background-size: cover;
}

.contenedor-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

label {
    width: 100%;
    margin-bottom: 10px;
    margin-right: 10px;
}

/* Aca empiezan los breakpoints */

/* Para Smartphones */

@media screen and (max-width: 480px){
    .contenedor {
        width: 100%;
        padding: 10px;
    }
}

/* Para tablets */

@media screen and (min-width: 481px) and (max-width: 768px) {
    .contenedor {
        width: 90%;
    }
}

/* Para PC */

@media screen and (min-width: 769px) {
    .contenedor {
        width: 1200px;
    }
}

